@{
    ViewData["Title"] = "Datos de Interés";
}

<div class = "Intereses">
@if (ViewBag.interes != null)
{
    <h2>Intereses de @ViewBag.Interes.IdUsuario</h2>
    <p>Interés: @ViewBag.interes.Intereses</p>
    <p>Tipo de Interés: @ViewBag.interes.TipoInteres</p>
}
else
{
    <p>No se encontraron datos de interés.</p>
}



<a href='@Url.Action("MostrarDatosPersonales","Home")'> Volver a la página principal</a>
<a href='@Url.Action("Logout","Home")'>Salir </a>
</div>