@{
    ViewData["Title"] = "Datos Personales";
    
}
<div>
<h2>Datos personales</h2>

<p>Nombre: @ViewBag.Usuario.Nombre</p>
<p>Apellido: @ViewBag.Usuario.Apellido</p>
<p>Edad: @ViewBag.Usuario.ObtenerEdad()</p>

<a href='@Url.Action("Index","Home")'>← Volver a la página principal</a>

    <a href='@Url.Action("MostrarDatosFamiliares","Home")'>- Ver informaciòn familiar</a>


        <a href='@Url.Action("MostrarDatosInteres","Home")'>- Ver Interes</a>
</div>